/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #212A31;
    color: #D3D9D4;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-family: 'Proxima Nova', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */
header {
    background-color: #2E3944;
    padding: 15px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    font-family: 'Georgia', serif; /* Changed font to Georgia */
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #D3D9D4;
    opacity: 0.7;
    transition: 0.3s;
}

a.active, a:hover {
    opacity: 1;
    color: #D3D9D4;
    border-bottom: 2px solid #00AEEF;
    padding-bottom: 3px;
}

/* Destination Container */
.destination-container {
    text-align: center;
    margin-top: 20px;
}

/* Destination Image */
.destination-image {
    max-width: 50%;
    height: auto;
    border: 4px solid #2E3944;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Welcome Section */
.welcome-section {
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.welcome-section h1 {
    font-size: 2em;
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 1em;
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: #D3D9D4;
}
